/*COLUMN STYLES*/
.col-three {
    display: flex;
    flex: 1;
}

.col {
    box-sizing: border-box;
    padding: 2em;
}

.col-three .col~.col {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.col-three .col-nav {
    flex: 0 1 15em;
}

.col-three .col-content {
    flex: 1;
}

.col-three .col-aside {
    flex: 0 1 20em;
}

.col-two {
    display: flex;
}

.col-two .col-aside {
    flex: 0 0 20em;
    order: 1;
}

.col-two .col-content {
    flex: 1;
}

/*PAGE STYLES*/
.page {
    margin: 10vh auto 15vh;
    max-width: 980px;
    width: 85vw;
}

.page h1 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
}

.page h2 {
    margin-bottom: 0.5em;
}

.page h4 {
    margin-bottom: 1em;
}